<div class="container mx-auto w-4/5 font-mono lg:w-2/3">
  <h1 class="title">Артур Файзрахманов</h1>

  <p class="mx-auto pt-10 text-center text-2xl md:w-1/2">
    Привет! Меня зовут Артур, мне 20 лет, живу в городе городе Казань. Я –
    Junior Frontend Developer.
  </p>

  <h1 class="title">Обо мне</h1>

  <div
    class="grid grid-cols-2 gap-4 pt-10 text-gray-800 md:gap-8 xl:grid-cols-4"
  >
    <p class="column">Опыт разработки на Angular 2+ более полугода.</p>
    <p class="column">Хорошие знания JavaScript, TypeScript языков.</p>
    <p class="column">
      Уверенное владение HTML, CSS (SCSS) для создания адаптивных веб-страниц
    </p>
    <p class="column">
      Понимание принципов RESTful API. Небольшой опыт работы с NestJS и MongoDB.
    </p>
    <p class="column">
      Опыт работы с CSS фреймворками, такими как Bootstrap и Tailwind CSS.
    </p>
    <p class="column">
      Владею английским языком на уровне, достаточном для чтения документации.
    </p>
    <p class="column">Знание инструментов разработки, таких как npm и Git.</p>
    <p class="column">
      Опыт работы с Figma: создание дизайна и верстка с макета.
    </p>
  </div>

  <h1 class="title">Мои проекты</h1>

  <div class="grid grid-rows-3 gap-4 pt-10 text-gray-800">
    <!--        <h2 class="row-title">-->
    <!--          https://github.com/iromfire/mobilka.net // https://mobilka-net.web.app //-->
    <!--          Angular + Firebase-->
    <!--        </h2>-->
    <!--        <h2 class="row-title">-->
    <!--          https://github.com/iromfire/tuda-suda // https://tuda-suda-kazan.web.app-->
    <!--          // Angular + Firebase-->
    <!--        </h2>-->
    <!--        <h2 class="row-title">-->
    <!--          https://github.com/iromfire/movie-rest-api // Небольшое API на NestJS с-->
    <!--          MongoDB-->
    <!--        </h2>-->
    <!--      </div>-->
  </div>
</div>
